.tile__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 10rem;
  background-color: lavender;

  &:hover {
    filter: brightness(0.95);
  }
}

.selected {
  background-color: rgb(92, 92, 122);
  color: lavender;
}

.tile__text-box span {
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
}