.connections__container {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-block-start: 6rem;
  width: 600px;
  justify-content: center;
  align-content: center;
  position: relative;
}

.connections__row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  justify-content: center;
  margin-block-end: 1rem;

  > * {
    cursor: pointer;
    transition: transform 0.5s ease;
  }
}

.animate-tiles {
  animation: correct-group-animation 0.5s ease-in-out;
}

@keyframes correct-group-animation {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.connections__controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.action-btn {
  background-color: azure;
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
  font-weight: 700;
  width: 6rem;

  &:hover {
    filter: brightness(0.95);
  }
}
